[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
Recordings/
*.apk
*.aab
*.so
*.pdb
CrashlyticsBuildId.properties
sysinfo.txt
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
.vs/
ExportedObj/
.consulo/
*.apk.meta
InitTestScene*.unity*
AssetStoreTools*
---
# Keep meta files for scripts
!Assets/**/*.meta
---
*.pidb.meta
*.pdb.meta
*.mdb.meta
.gradle/
ExportedProject/
.idea/